@import url('https://fonts.googleapis.com/css2?family=Montagu+Slab:opsz,wght@16..144,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

*{
    margin: 0%;
    box-sizing: border-box;
}

nav{
        display: flex;
        align-items: center;
        justify-content: space-around;
        background-color: #5FC7FA;
        padding-top: 1rem;
        padding-bottom: 1rem;
        position: sticky;
        top: 0%;
        z-index: 100;
        font-family: "Manrope", sans-serif;
        .img{
            display: flex;
            align-items: center;
        }
        #mobileMenu{
            display: flex;
            gap: 5rem;
            align-items: center;
            a{
                text-decoration: none;
                color: black;
                font-size: 1.1rem;
            }
            a:hover{
                color: #0856F1;
            }
        #signOutBtn{
            padding: 0.7rem;
            color: #FFFFFF;
            background-color: #0856F1;
            border: none;
            border-radius: 10px;
            font-size: 18px;             
        }
        #signOutBtn:hover{
            background-color: black;
            cursor: pointer;
        }
        }
        #menubtn{
            display: none;
             font-size: 2rem;
             cursor: pointer;
        }
    }

.container{
    font-family: "Montagu Slab", serif;
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 4rem;
    row-gap: 2rem;
    margin: 2rem 4rem;
    .first{
        display: flex;
        background-color: #0856F1;
        color: white;
        padding: 1rem;
        .txt{
           h3{
            font-weight: 600;
            font-size: 17px;
            padding-bottom: 1rem;
           }
           span{
              font-weight: 400;
              font-size: 13px;  
            } 
        }
    }
    .second{
        display: flex;
        background-color: #0856F1;
        color: white;
        padding: 1rem;
        .txt-2{
           h3{
            font-weight: 600;
            font-size: 17px;
            padding-bottom: 1rem;
           }
           span{
              font-weight: 400;
              font-size: 13px;  
            } 
        }
    }
    .third{
        display: flex;
        background-color: #0856F1;
        color: white;
        padding: 1rem;
        margin-bottom: 4rem;
        .txt-3{
           h3{
            font-weight: 600;
            font-size: 17px;
            padding-bottom: 1rem;
           }
           span{
              font-weight: 400;
              font-size: 13px;  
            }
            .list{
               font-weight: 400;
               font-size: 13px;
               ul{
                li{
                   padding-bottom: 8px;
                }
               }   
            }
        }
    }
    .fourth{
        display: flex;
        background-color: #0856F1;
        color: white;
        padding: 1rem;
        margin-bottom: 4rem;
        .txt-4{
           h3{
            font-weight: 600;
            font-size: 17px;
            padding-bottom: 1rem;
           }
           span{
              font-weight: 400;
              font-size: 13px;  
            }
            .list-2{
               font-weight: 400;
               font-size: 13px;
               ul{
                li{
                    padding-bottom: 8px;
                }
               }   
            }
        }
    }
    .fifth{
        display: flex;
        background-color: #0856F1;
        color: white;
        padding: 1rem;
        .txt-5{
           h3{
            font-weight: 600;
            font-size: 17px;
            padding-bottom: 1rem;
           }
           span{
              font-weight: 400;
              font-size: 13px;  
            } 
        }
    }
    .sixth{
        display: flex;
        background-color: #0856F1;
        color: white;
        padding: 1rem;
        .txt-6{
           h3{
            font-weight: 600;
            font-size: 17px;
            padding-bottom: 1rem;
           }
           span{
              font-weight: 400;
              font-size: 13px;  
            } 
        }
    }
    .seventh{
        display: flex;
        background-color: #0856F1;
        color: white;
        padding: 1rem;
        .txt-7{
           h3{
            font-weight: 600;
            font-size: 17px;
            padding-bottom: 1rem;
           }
           span{
              font-weight: 400;
              font-size: 13px;  
            }
            .list-3{
               font-weight: 400;
               font-size: 13px;
               padding-bottom: 1rem;
               ul{
                li{
                    padding-bottom: 8px;
                }
               } 
            }
        }
    }
    .eighth{
        display: flex;
        background-color: #0856F1;
        color: white;
        padding: 1rem;
        .txt-8{
           h3{
            font-weight: 600;
            font-size: 17px;
            padding-bottom: 1rem;
           }
           span{
              font-weight: 400;
              font-size: 13px;  
            }
            .list-4{
               font-weight: 400;
               font-size: 13px;
               padding-top: 1rem;
               padding-bottom: 1rem;
               ul{
                li{
                    padding-bottom: 8px;
                }
               }
            } 
        }
    }
}


/*MOBILE RESPONSIVENESS */

/*Tablets (1024px and below) */
@media (max-width: 1024px) {
 nav {
    gap: 1rem;
    padding: 1rem 1rem;
  }

nav #mobileMenu{
    gap: 1.5rem;
  }

}

/*Tablets (768px and below) */
@media (max-width: 768px) {
    nav {
    justify-content: space-between;
    padding-bottom: 1.5rem;
    padding-left: 2rem;
    padding-right: 2rem;
}

nav #mobileMenu.active {
    display: flex;
  }

nav #menubtn{
  display: block;
}

nav #mobileMenu {
    display: none;
    position: absolute; /* remove it from nav flow */
    top: 100%;           /* right below the navbar */
    right: 0;
    width: 40%;
    background-color: #5FC7FA;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem 0;
    z-index: 99;
  }

  .container {
    gap: 1rem;
    margin: 1rem;
  }

  .container .first,
  .container .second,
  .container .third,
  .container .fourth,
  .container .fifth,
  .container .sixth,
  .container .seventh,
  .container .eighth {
    flex-direction: column;
  }
}

@media (max-width: 480px) {
nav #mobileMenu.active {
    display: flex;
  }

nav #menubtn{
  display: block;
}

nav #mobileMenu {
    display: none;
    position: absolute; /* remove it from nav flow */
    top: 100%;           /* right below the navbar */
    right: 0;
    width: 40%;
    background-color: #5FC7FA;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem 0;
    z-index: 99;
  }

.container {
    display: grid;
    grid-template-columns: 1fr; /* two columns */
    grid-template-areas:
      "first third"
      "second fourth"
      "fifth seventh"
      "sixth eighth";
    gap: 0.5rem;
    margin: 0.3rem;
    margin-top: 0.5rem;
  }

  .container .first,
  .container .second,
  .container .third,
  .container .fourth,
  .container .fifth,
  .container .sixth,
  .container .seventh,
  .container .eighth {
    flex-direction: column;
  }

  .container .first {
  padding: 0.6rem;
}
  .container .second {
  padding: 0.6rem;
}
  .container .third {
  padding: 0.6rem;
}
  .container .fourth {
  padding: 0.6rem;
}
  .container .fifth{
  padding: 0.6rem;
}
  .container .sixth {
  padding: 0.6rem;
}
  .container .seventh {
  padding: 0.6rem;
}
  .container .eighth {
  padding: 0.6rem;
}
}