@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgba(0, 0, 255, 0.231);
}
.container{
    display: flex;
    flex-direction: column;
    width: 22rem;
    border: 2px solid gray;
    background-color: white;
    font-family: "Open Sans", sans-serif;
    header{
        background-color: #0F77F0;
        #img{
            display: flex;
            justify-content: center;
            padding-top: 0.5rem;
            padding-bottom: 0.5rem;
        }
    }
    main{
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        #img{
            width: 45px;
            border-radius: 25px;
            padding: 0.7rem;
            display: flex;
            justify-content: center;
            margin-left: 1rem;
            margin-top: 0.5rem;
            background-color: #ECECEC;
        }
        .text{
            padding-left: 1rem;
            padding-right: 1rem;
            display: flex;
            flex-direction: column;
            gap: 5px;
            h3{
                font-weight: 600;
                font-size: 20px;
            }
            span{
                font-size: 13px;
                font-weight: 500;
                color: #989898;
            }
        }
        .form{
            padding-left: 1rem;
            label{
                font-size: 18px;
                font-weight: 600;
            }
            input{
                width: 20rem;
                padding-top: 0.7rem;
                padding-bottom: 0.7rem;
                padding-left: 10px;
                border-radius: 0.7rem;
                border: 2px solid #E2E8F0;
            }
        }
        #reset{
            border: none;
            border-radius: 2rem;
            padding: 0.8rem 6rem;
            max-width: fit-content;
            margin-left: 1.7rem;
            margin-bottom: 0.5rem;
            text-decoration: none;
            background-color: #0F77F0;
            color: white;
        }
    }
}


/* Mobile Phones (480px and below) */
@media (max-width: 480px) {
  body {
    display: block;
    background-color: white;
  }

  .container {
    width: 100%;      /* full width of the screen */
    height: auto;     /* grow with content */
    margin: 0;        /* remove any centering margins */
    border: none;     /* optional: remove border for full-screen look */
    background-color: none;
  }
}
