@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
.container{
    font-family: "Manrope", sans-serif;
    nav{
        display: flex;
        align-items: center;
        justify-content: space-around;
        background-color: #5FC7FA;
        padding-top: 1rem;
        padding-bottom: 1rem;
        position: sticky;
        top: 0%;
        z-index: 100;
        font-family: "Manrope", sans-serif;
        .img{
            display: flex;
            align-items: center;
        }
        #mobileMenu{
            display: flex;
            gap: 5rem;
            align-items: center;
            a{
                text-decoration: none;
                color: black;
                font-size: 1.1rem;
            }
            a:hover{
                color: #0856F1;
            }
        #signOutBtn{
            padding: 0.7rem;
            color: #FFFFFF;
            background-color: #0856F1;
            border: none;
            border-radius: 10px;
            font-size: 18px;             
        }
        #signOutBtn:hover{
            background-color: black;
            cursor: pointer;
        }
        }
        #menubtn{
            display: none;
             font-size: 2rem;
             cursor: pointer;
        }
    }
    section{
        display: flex;
        margin: 4rem;
        .text{
            max-width: 34rem;
            display: flex;
            flex-direction: column;
            #bold{
                font-weight: 700;
                font-size: 40px;
                font-style: bold;
                #colour1{
                    color: #0856F1;
                }
            }
            #small{
                font-weight: 500;
                font-size: 15px;
                #colour2{
                    color: #0856F1;
                }
                #colour3{
                    color: #0856F1;
                }
            } 
            a{
                text-decoration: none;
                margin-top: 2rem;
                border-radius: 1rem;
                width: 16rem;
                background-color: #0856F1;
                color: white;
                padding: 1rem;
                display: flex;
                justify-content: center;
            }
            .img{
                margin-top: 1.5rem;
                small{
                    color: #b0b0b0;
                    font-size: 15px;
                }
                .imgs{
                    display: flex;
                    flex-direction: row;
                    gap: 1rem;
                    margin-top: 0.5rem;
                }
            }
            .gethelp{
                margin-top: 13rem;
                border: 2px solid #0856F1;
                border-radius: 15px;
                width: 70rem;
                display: flex;
                flex-direction: column;
                h3{
                    padding-left: 2rem;
                    padding-top: 2rem;
                }
                form{
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    padding: 2rem 2rem;
                    .form-group{
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        label{
                            display: flex;
                            color: #888888;
                            img{
                                width: 1.5rem;
                            }
                        }
                        input{
                            width: 15rem;
                            padding-top: 1rem;
                            padding-bottom: 1rem;
                            padding-left: 0.5rem;
                            border-radius: 10px;
                            box-shadow: none;
                            margin-top: 1rem;
                            border: 1.5px solid #E7E7E7;
                        }
                        input::placeholder{
                                color: #E7E7E7;
                        }
                    }
                    #btn{
                        padding: 0.7rem;
                        color: #FFFFFF;
                        #btn{
                            background-color: #0856F1;
                            border: none;
                            border-radius: 10px;
                            font-size: 18px;
                        }
                        #btn:hover{
                          background-color: black;
                          cursor: pointer;
                    }
        }
                }
            } 
        }
        .images{
            img{
            width: 30rem;
            position: absolute;
            right: 6.7%;
            }
            #img2{
                width: 40rem;
                right: 0.2%;
                top: 26%;
            }
            #img3{
                width: 15rem;
                top: 40%; 
                right: 5%;
            }
            #img4{
                width: 15rem;
                top: 58%;
                right: 25%;
            }
            #img5{
                width: 17rem;
                top: 65%;
                right: 5%;
            }
        } 
    }
}


/* MOBILE RESPONSIVENESS */
/*TABLETS (1520px and below)*/
@media (max-width: 1520px) {
  
  .container nav {
    gap: 1rem;
    padding: 1rem 1rem;
  }

.container nav #mobileMenu{
    gap: 1.5rem;
  }

.container section {
    flex-direction: column;
    margin: 2rem;
  }

  .container section .text .gethelp {
    width: 47rem;
    margin-top: 5rem;
  }
.container section .text .gethelp form .form-group input {
  width: 10rem;
}

  .container section .images img {
    display: none;
  }
}

/*TABLETS (1024px and below)*/
@media (max-width: 1024px) {
  .container section {
    flex-direction: column;
    margin: 2rem;
  }

  .container section .text .gethelp {
    width: 47rem;
    margin-top: 5rem;
  }
.container section .text .gethelp form .form-group input {
  width: 10rem;
}

  .container nav {
    gap: 1rem;
    padding: 1rem 1rem;
  }

.container nav #mobileMenu{
    gap: 1.5rem;
  }


  .container section .images img {
    display: none;
  }
}


/* SMALL TABLETS & LARGE PHONES (768px and below) */
@media (max-width: 768px) {
  .container nav {
    gap: 0.5rem;
    padding-bottom: 1.5rem;
    justify-content: space-between;
    padding: 1rem 2rem;
  }

.container nav #mobileMenu.active {
    display: flex;
  }

.container nav #menubtn{
  display: block;
}

.container nav #mobileMenu {
    display: none;
    position: absolute; /* remove it from nav flow */
    top: 100%;           /* right below the navbar */
    right: 0;
    width: 40%;
    background-color: #5FC7FA;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem 0;
    z-index: 99;
  }

  .container section {
    margin: 1.5rem;
  }

  .container section .text #bold {
    font-size: 32px;
  }

  .container section .text #small {
    font-size: 14px;
  }

  .container section .text .gethelp {
    width: 100%;
  }

  .container section .text .gethelp h3{
    display: flex;
    justify-content: center;
  }

  .container section .text .gethelp form {
    flex-direction: column;
    gap: 1.5rem;
  }

  .container section .text .gethelp form .form-group input {
    width: 100%;
  }

  .container section .images img {
    display: none;
  }
}


/*MOBILE PHONES (480px and below) */
@media (max-width: 480px) {
  .container nav #mobileMenu.active {
    display: flex;
  }

.container nav #menubtn{
  display: block;
}

.container nav #mobileMenu {
    display: none;
    position: absolute; /* remove it from nav flow */
    top: 100%;           /* right below the navbar */
    right: 0;
    width: 40%;
    background-color: #5FC7FA;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem 0;
    z-index: 99;
  }

  .container nav {
    justify-content: space-between;
    padding: 1rem;
  }

  .container section .text {
    max-width: 100%;
  }

  .container section .text #bold {
    font-size: 26px;
  }


  .container section .text .img{
    margin-right: 1rem;
  }

  .container section .text .img .imgs img{
    width: 3rem;
  }

  .container section .text #small {
    font-size: 13px;
  }

  .container section .text a {
    padding: 0.8rem;
  }

  .container section .text .gethelp {
    width: 100%;
    margin-top: 4rem;
  }

  .container section .text .gethelp h3{
    padding-right: 1rem;
  }

  .container section .text .gethelp form {
    padding: 1rem;
  }

  .container section .images img {
    display: none;
  }
}